{% extends 'base.html' %}

{% block title %}다다{% endblock %}

{% block jumbotron %}
{% load staticfiles %}

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-7">
      <h1 style="font-family: 'Hanna', serif; ">당신의 스터디,<br/> 안녕하신가요?</h1>
      <p>지속 가능한 스터디 문화를 위한 <b>다다</b> 프로젝트</p>
      <p>
        <div class="fb-like" data-href="http://gyutae.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </p>
    </div>
    <div class="col-sm-5">
      <form role="form-horizontal" action="/account/sign_up/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block below_jumbotron %}

<div class="row text-center">
  <h1>Why you’ll love <b style="font-family: 'Hanna', serif; ">다다</b></h1>
  <p>Powerful features to make software development more collaborative.</p>
</div>

<div class="container">
  <div class="col-sm-6 text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
        <img src="{% static 'img/1.png' %}" alt="HeXA logo" class="img-responsive">
      </div>
    </div>
    <h2>Great collaboration with communication.</h2>
    <p>Review changes, comment on lines of code and plan the future with discussion tools.</p>
  </div>
  <div class="col-sm-6 text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
        <img src="{% static 'img/2.png' %}" alt="HeXA logo" class="img-responsive">
      </div>
    </div>
    <h2>Friction-less development across teams.</h2>
    <p>Work with project collaborators or teams of people in organization accounts to communicate with ease.</p>
  </div>
</div>
<div class="container">
  <div class="col-sm-6 text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
        <img src="{% static 'img/3.png' %}" alt="HeXA logo" class="img-responsive">
      </div>
    </div>
    <h2>World's largest open source community.</h2>
    <p>Share your projects with the world, get feedback, and contribute to millions of repositories hosted on GitHub.</p>
  </div>
  <div class="col-sm-6 text-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2">
        <img src="{% static 'img/4.png' %}" alt="HeXA logo" class="img-responsive">
      </div>
    </div>
    <h2>Do more with powerful integrations.</h2>
    <p>Discover applications and tools that integrate with GitHub to help you and your team build software better, together.</p>
  </div>
</div>
{% endblock %}

{% block footer %}
Copyright © 2014 두 얼간이
{% endblock %}
